
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
	<html>
		<head>
			<title>End of the Internet - Home</title>
			<link rel="icon" href="//static.endoftheinter.net/images/dealwithit.ico" type="image/x-icon">
			<link rel="apple-touch-icon-precomposed" href=//static.endoftheinter.net/images/apple-touch-icon-ipad.png />
			<link rel="stylesheet" type="text/css" href="css/nblue.css" />
			<script type="text/javascript" src="https://static.endoftheinter.net/base.js?27"></script>
		</head>
		<body class="regular">
			<div class="body">
				<div class="menubar-background"></div>
				<div class="menubar">
					<a href="//endoftheinter.net/main.php" class="menu-home"></a>
					<a href="//boards.endoftheinter.net/boardlist.php">Boards</a>
					<a href="//archives.endoftheinter.net/">Archives</a>
					<a href="//wiki.endoftheinter.net/index.php/Main_Page">Wiki</a>
					<a href="//endoftheinter.net/stats.php">Stats</a>
					<a href="//endoftheinter.net/userlist.php">User List</a>
					<a href="//endoftheinter.net/logout.php">Logout</a>
					<span id="userbar_pms" style="display:none">
						<a href="/inbox.php">Private Messages(<span id="userbar_pms_count">0</span>)</a>
					</span>
					<script type="text/javascript">
						onDOMContentLoaded(function(){new PrivateMessageManager($("userbar_pms"), $("userbar_pms_count"), ["72057594037945962",0])})
					</script>
					<a href="//wiki.endoftheinter.net/index.php/Help:Rules">Help</a>
					<a href="//endoftheinter.net/profile.php?user=18026" class="menu-user">adrek (16)</a>
				</div>
				<div style="position:fixed;z-index:999;background:red;width:1px;height:1px;bottom:45px!important;bottom:10000px;right:24px">
					<!--a reminder, for all that we fought against. -->
				</div>
				<div class="window-shadow">
					<div class="window-header">
						<span class="window-header-title">End of the Internet</span>
						<div class="window-header-right"></div>
					</div>
					<h1>End of the Internet</h1>
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td width="75%" valign="top" style="padding: 2px 5px 0px 0px">
							<table class="grid">
								<tr>
									<th>Topics [of the Moment]</th>
									<th>Created By</th>
									<th>Msgs</th>
									<th>Last Post</th>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729682">Post Infographics that make you a better person. (Nws?)</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=15443">Grizzly Bear</a></td>
									<td>221</td>
									<td>2/13/2012 22:49</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7723302">Fucking Cool Android Apps You Probably Do Not Have</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=8706">MooKitty</a></td>
									<td>410<span id="u0_1"> (<a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7723302#m101206465">+360</a>)&nbsp;<a href="#" onclick="return clearBookmark(7723302, $(&quot;u0_1&quot;))">x</a></span></td>
									<td>2/13/2012 22:21</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729380">wow, an actual hot as fuck efukt video  NWS</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=3863">horrorfreak82</a></td>
									<td>87</td>
									<td>2/13/2012 22:26</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7727901">classic LL is back</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=21112">FlyingARam12</a></td>
									<td>292<span id="u0_2"> (<a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7727901#m101318015">+242</a>)&nbsp;<a href="#" onclick="return clearBookmark(7727901, $(&quot;u0_2&quot;))">x</a></span></td>
									<td>2/13/2012 22:31</td>
								</tr>
								<tr class=" zebra_0">
									<td>
										<a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7728308">
											<div class="sticky">Backup LL &quot;sper.gs&quot; now open and ready for you!</div>
										</a>
									</td>
									<td><a href="//endoftheinter.net/profile.php?user=1492">x w0ts0n xX</a></td>
									<td>246<span id="u0_3"> (<a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7728308#m101326536">+196</a>)&nbsp;<a href="#" onclick="return clearBookmark(7728308, $(&quot;u0_3&quot;))">x</a></span></td>
									<td>2/13/2012 22:36</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7722624">Oh SHIT! Super Mario Bros. Crossover 2 is out</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=12870">Leon Powalski</a></td>
									<td>191</td>
									<td>2/13/2012 22:37</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7724593">Posting my Lady Gaga .gif collection *NWS*</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=12451">BlackYoshi</a></td>
									<td>195</td><td>2/13/2012 22:35</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729160">Remember when LG said he wanted to do a &quot;cloud boards&quot; thing</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=15242">Laserbomb</a></td>
									<td>535</td>
									<td>2/13/2012 22:46</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729881">You Nostalgia, You Lose (Applelinks Edition)</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=17612">Helvetica Scenario</a></td>
									<td>511<span id="u0_4"> (<a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729881&amp;page=2#m101360924">+411</a>)&nbsp;<a href="#" onclick="return clearBookmark(7729881, $(&quot;u0_4&quot;))">x</a></span></td>
									<td>2/13/2012 22:55</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7726064">HOLY FUCK at Dennis Quaid on Ellen</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=3812">amerijolz2</a></td>
									<td>99</td>
									<td>2/13/2012 22:22</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7730048">
										<div class="sticky">Community rule: Ban Summer/Soyacide for link leaking/reporting.</div></a>
									</td>
									<td><a href="//endoftheinter.net/profile.php?user=1713">deadlyrom</a></td>
									<td>1314<span id="u0_5"> (<a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7730048#m101365683">+1264</a>)&nbsp;<a href="#" onclick="return clearBookmark(7730048, $(&quot;u0_5&quot;))">x</a></span></td>
									<td>2/13/2012 22:47</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729719">ATTN: Pussies- stop living in fear.</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=1902">The Wolverine</a></td>
									<td>138</td>
									<td>2/13/2012 22:57</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7731238">The 5 steps to getting laid</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=1869">Aurulieus</a></td>
									<td>128</td>
									<td>2/13/2012 22:56</td>
								</tr>
								<tr class=" zebra_1"><td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7729611">Holy fuck I am dying laughing at how stable an owl's head is</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=15239">acidmonkey</a></td>
									<td>114</td>
									<td>2/13/2012 22:52</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7723501">Homestuck Topic 7: it.s time to get: RIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIPPPPPPED</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=1277">Domino3001</a></td>
									<td>315</td>
									<td>2/13/2012 22:39</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7724136">I'm a butcher/fishmonger. I'm bored. Ask me anything. NOW EVEN MORE BUTCHERY.</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=21018">Welsh news</a></td>
									<td>155</td>
									<td>2/13/2012 22:43</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7727547">ITT I Retro Apple your Avatar.</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=13949">A Hacked Soul</a></td>
									<td>268</td>
									<td>2/13/2012 22:41</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7723838">[MTGLinks] Magic: The Gathering Thread Part XIII: bad fun just idiotism Edition</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=13494">PelotasRosas</a></td>
									<td>1661</td>
									<td>2/13/2012 22:58</td>
								</tr>
								<tr class=" zebra_0">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7725543">***Soccer/Football Topic XXII: FUCK THE LIVERCUNT***</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=19533">Word</a></td>
									<td>1419</td>
									<td>2/13/2012 22:56</td>
								</tr>
								<tr class=" zebra_1">
									<td><a href="//boards.endoftheinter.net/showmessages.php?board=&amp;topic=7731498">It took me a month but I finally finished Slowbeef's Metroid Prime Trilogy LP</a></td>
									<td><a href="//endoftheinter.net/profile.php?user=2302">kyven</a></td>
									<td>9</td>
									<td>2/13/2012 22:59</td>
								</tr>
							</table>
						</td>
						<td width="25%" valign="top" style="border-left: 1px solid black; border-top: 1px solid black;">
							<div class="userbar">Poll of the Day</div>
								<div class="poll">
								<b>Is Dubstep the new Rock'N'Roll / Hip-Hop?</b><br />
								<form action="poll.php" method="post">
									  <input type="radio" name="vote" value="v1" id="v1"><label for="v1">Hell yes! Bring on the Wubbs!</label><br />
									  <input type="radio" name="vote" value="v2" id="v2"><label for="v2">Yeah I can see that comparison.</label><br />
									  <input type="radio" name="vote" value="v3" id="v3"><label for="v3">I'm not sure; haven't heard enough to say.</label><br />
									  <input type="radio" name="vote" value="v4" id="v4"><label for="v4">It's just a fad that'll soon pass</label><br />
									  <input type="radio" name="vote" value="v5" id="v5"><label for="v5">I hate Dubstep and I hate Meshblorg.</label><br />
									  <input type="radio" name="vote" value="v6" id="v6"><label for="v6">What's Dubstep?</label><br />
									  <br />
									  <input type="hidden" name="poll" value="4579">
									  <input type="submit" name="go" value="Vote!">
									  <a href="poll.php?poll=4579&viewresults=">View results</a>
									  | <a href="poll.php?past=">View old polls</a>
								</form>
								<b>Added by: </b><a href="profile.php?user=14403">meshblorg</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<br />
			<br />
			<div class="stats">
				<small>
					<b>Time Taken:</b> 0.0705s 
					<b>sqlly stuff: </b> 61.84% 
					<b>Server load:</b> 4.60 :\ 
					&mdash; End of the Internet, LLC &copy; 2012
				</small>
			</div>
		</div>
		<div class="scanline-overlay"/>
	</body>
</html>
