ErrorDocument 404	/404.php

Options All -Indexes

RewriteEngine On
RewriteRule ^includes($|/) 404.php [L,R=404]
RewriteRule ^templates/default/(.+).tpl($|/) 404.php [L,R=404]
RewriteRule ^templates/default/main.html($|/) 404.php [L,R=404]
RewriteRule (.*/)?\\.git+ - [F,L]

